<%- include('partials/header') -%>

    <a href="/logout">Logout</a>
    <a href="/players/getPlayers">Players</a>
    <a href="/results/addGame">Add result</a>
    <ul class="match-stats">
        <% matches.forEach (el => { %>
            <span class="date"><%= el.date %></span>
            <li class="result <%= el.homeTeam === user.userName ? 'homeColor' : 'awayColor' %>" data-id="<%= el._id%>">
                <span class="home-team"><%= el.homeTeam.replace(/\w/, c => c.toUpperCase()) %></span>
                <span class="home-score"><%= el.homeScore %></span> - 
                <span class="away-score"><%= el.awayScore %></span>
                <span class="away-team"><%= el.awayTeam.replace(/\w/, c => c.toUpperCase()) %></span>
                <span class="fa-regular fa-futbol" id="gameInfo"></span>
                <span class="fa-solid fa-xmark" id="deleteResult"></span>
                <br>
                <div id="show-more" class="show-more">
                    <p class="scorer"><%= el.scorer %></p>
                    <p class="assist"><%= el.assist %></p>
                </div>
            </li>
        <% }) %>

    </ul>
   

    <script src="../main.js"></script>
</body>
</html>