<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"> -->
    <link rel="stylesheet" href="./style.css">
    <title>Match results</title>
</head>
<body>
    <h1>Match results</h1>
    <a href="/resultEntry">Enter results</a>
    <ul class="match-stats">
        <!-- <% for(let i = 0; i < teams.length; i++) { %>
            <span class="date"><%=teams[i].date %></span>

            <% if(teams[i].homeTeam === "Wymondly park"){ %>
                <li class="team homeColor" data-id="<%=el._id%>">
                    <span class="home-team"><%= teams[i].homeTeam %></span>
                    <span class="home-score"><%= teams[i].homeScore %></span> - 
                    <span class="away-score"><%= teams[i].awayScore %></span>
                    <span class="away-team"><%= teams[i].awayTeam %></span>
                    <span class="fa-regular fa-futbol"></span>
                    <span class="fa-solid fa-xmark"></span>
                    <br>
                    <p class="scorer"><%= teams[i].scorer %></p>
                </li>
            <% } else { %>
                <li class="team awayColor">
                    <span class="home-team"><%= teams[i].homeTeam %></span>
                    <span class="home-score"><%= teams[i].homeScore %></span> - 
                    <span class="away-score"><%= teams[i].awayScore %></span>
                    <span class="away-team"><%= teams[i].awayTeam %></span>
                    <span class="fa-regular fa-futbol"></span>
                    <span class="fa-solid fa-xmark"></span><br>
                    <p id="scorer" class="scorer"><%= teams[i].scorer %></p>
                </li>
            <% } %>
        <% } %>
    </ul> -->

    <script src="./main.js"></script>

</body>
</html>

