<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Match results</title>
</head>
<body>
    <h1>Match results</h1>
    <ul class="match-stats">
        <% for(let i = 0; i < teams.length; i++) { %>
            <span class="date"><%=teams[i].date %></span>

            <% if(teams[i].homeTeam === "Wymondly park"){ %>
                <li class="team homeColor"><%=teams[i].homeTeam %>
                    <span class="home"><%=teams[i].homeTeam %></span>
                    <span class="home-score"><%=teams[i].homeScore %></span> - 
                    <span class="away-score"><%=teams[i].awayScore %></span>
                    <span class="away"><%=teams[i].awayTeam %></span>
                    <span class="fa-solid fa-xmark"></span><br>
                    <p class="scorer"><%=teams[i].scorer %></p>
                </li>
            <% } else { %>
                <li class="team awayColor"><%=teams[i].homeTeam %>
                    <span class="home"><%=teams[i].homeTeam %></span>
                    <span class="home-score"><%=teams[i].homeScore %></span> - 
                    <span class="away-score"><%=teams[i].awayScore %></span>
                    <span class="away"><%=teams[i].awayTeam %></span>
                    <span class="fa-solid fa-xmark"></span><br>
                    <p class="scorer"><%=teams[i].scorer %></p>
                </li>
            <% } %>
        <% } %>
    </ul>

    <h2>Add result</h2>
    <form action="/addResult" method="post">

        <label for="date">Date</label>
        <input type="date" placeholder="" name="date" id="date"  min="2022-09-04"><br>

        <label for="homeTeam">Home</label>
        <input type="text" placeholder="Home team" name="homeTeam" id="home-team">
            <select name="homeScore" id="homeScore">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br>

        <label for="awayTeam">Away</label>
        <input type="text" placeholder="Away Team" name="awayTeam" id="away-team">
            <select name="awayScore" id="awayScore">
                <option value='0'>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br>

        <label for="scorer">Scorers</label>
        <input type="text" placeholder="Scorers" name="scorer" id="scorer"><br>
        <input type="submit">
    </form>

    <script src="./main.js"></script>
</body>
</html>

