<%- include('partials/header') -%>

    <a href="/results/getResults">Match results</a>
    <a href="/results/addGame">Add results</a>

    <form action="/results/createPlayer" method="POST">
        <input type="text" placeholder="Team Name" name="team">
        <input type="text" placeholder="First Name" name="firstName">
        <input type="text" placeholder="Last Name" name="lastName">
        <input type="submit" class="submitBtn">
    </form>
    <h1>Players</h1>
    
    <ul class="team">
        <% player.forEach ( el => { %>
            <li class="players">
                <span class="player-fName"><%= el.firstName %></span>
                <span class="player-lName"><%= el.lastName %></span>
                <span class="player-game"><%= el.games %></span>
                <span class="player-goals"><%= el.goals %></span>
                <span class="player-assits"><%= el.assists %></span>
            </li>
            <% }) %>
        </ul>

    <script src='../main.js'></script>
</body>

</html>