<%- include('partials/header') -%>

    <a href="/logout">Logout</a>
    <a href="/results/getResults">Match results</a>
    <a href="/results/addGame">Add results</a>

    <form action="/players/createPlayer" method="POST">
        <input type="text" placeholder="First Name" name="firstName">
        <input type="text" placeholder="Last Name" name="lastName">
        <input type="submit" class="submitBtn">
    </form>

    <h1>Players</h1> 
        <table class="team">
            <tr>
                <th class="firstName">first name</th>
                <th>Last name</th>
                <th>games</th>
                <th>goals</th>
                <th>assists</th>
            </tr>
        <% player.forEach ( el => { %>
            <tr data-id="<%= el._id%>">
                <td><%= el.firstName %></td>
                <td><%= el.lastName %></td>
                <td><%= el.games %></td>
                <td><%= el.goals %></td>
                <td><%= el.assists %></td>
                <td class="fa-solid fa-xmark" id="deletePlayer"></td>
            </tr>       
        <% }) %>
        
        <select name="playerScored" id="">
            <% for (const i in player) { %>
                <option value="<%= player[i].id %>"><%= player[i].firstName %> <%= player[i].lastName %></option> 
            <% } %>
        </select>
        
    <script src='../main.js'></script>
</body>

</html>