<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Match records</title>
</head>
<body>
    <ul class="match-stats">
        <% for(let i = 0; i < results.length; i++) { %>
            <span class="date"><%=result[i].date %></span>
                <% if(result[i].homeTeam === "Wymondly park"){ %>
                    <li class="team homeColor" data-id="<%=li._id%>">
                        <span class="home-team"><%= result[i].homeTeam %></span>
                        <span class="home-score"><%= result[i].homeScore %></span> - 
                        <span class="away-score"><%= result[i].awayScore %></span>
                        <span class="away-team"><%= result[i].awayTeam %></span>
                        <span class="fa-regular fa-futbol"></span>
                        <span class="fa-solid fa-xmark"></span>
                        <br>
                        <p class="scorer"><%= result[i].scorer %></p>
                    </li>
                <% } else { %>
                    <li class="team awayColor">
                        <span class="home-team"><%= result[i].homeTeam %></span>
                        <span class="home-score"><%= result[i].homeScore %></span> - 
                        <span class="away-score"><%= result[i].awayScore %></span>
                        <span class="away-team"><%= result[i].awayTeam %></span>
                        <span class="fa-regular fa-futbol"></span>
                        <span class="fa-solid fa-xmark"></span><br>
                        <p id="scorer" class="scorer"><%= results[i].scorer %></p>
                    </li>
                <% } %>
        <% } %>
    </ul>
    <h2>Add result</h2>
    <!-- action may need changing -->
    <form action="/createResult" method="POST">

        <label for="date">Date</label>
        <input type="date" placeholder="" name="date" id="date"  min="2022-09-04"><br>

        <label for="homeTeam">Home</label>
        <input type="text" placeholder="Home team" name="homeTeam" id="home-team">
            <select name="homeScore" id="homeScore">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br>

        <label for="awayTeam">Away</label>
        <input type="text" placeholder="Away Team" name="awayTeam" id="away-team">
            <select name="awayScore" id="awayScore">
                <option value='0'>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br>

        <label for="scorer">Scorers</label>
        <input type="text" placeholder="Scorers" name="scorer" id="scorer"><br>
        <input type="submit">
    </form>

    <script src="./main.js"></script>
</body>
</html>