<%- include('partials/header') -%>

    <a href="/logout">Logout</a>
    <a href="/results/getResults">Match results</a>
    <a href="/players/getPlayers">Players</a>

    <h2>Add Result</h2>
    <form action="/results/createResult" method="POST">

        <label for="date"></label>
        <input class="date" type="date" placeholder="" name="date" id="date"  min="2022-09-04"><br>

        <label for="homeTeam"></label>
        <input 
            type="text" 
            placeholder="Home team" 
            name="homeTeam" 
            id="home-team" 
            style="text-transform:capitalize"
        >
        <select name="homeScore" id="homeScore">
            <option value='0'>0</option>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select> <br>

        <label for="awayTeam"></label>
        <input 
            type="text" 
            placeholder="Away Team" 
            name="awayTeam" 
            id="away-team"
            style="text-transform:capitalize"
        >
            <select name="awayScore" id="awayScore">
                <option value='0'>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select><br>

            <label for="scorer"></label>
            <select name="" id="scorer-dropdown">
                <option id="" value="">No scorer</option>                
                <% for (const i in players) { %>
                    <option value="<%= players[i].firstName %>">
                        <%= players[i].firstName %> 
                        <%= players[i].lastName %>
                    </option> 
                    <% } %>
            </select>

                <button type="button" id="scorer-btn">Add</button><br>
                <input type="text" placeholder="Scorers" name="scorer" id="scorer-input"><br>
            
            <label for="assist"></label>
            <select name="" id="assist-dropdown">
                <option value="">No Assists</option>
                <% for (const i in players) { %>
                    <option name="" id="" value="<%= players[i].firstName %>">
                        <%= players[i].firstName %> 
                        <%= players[i].lastName %>
                    </option> 
                <% } %>
            </select>
            
                <button type="button" id="assist-btn">Add</button><br>
                <input type="text" placeholder="Assists" name="assist" id="assist-input"><br>
                
                    
                    <input class="submitBtn" type="submit">
                </form>

    <script src="../main.js"></script>

</body>
</html>

